:root {
  --bg-color: #a9a9b0;
  --accent-color: #fed000;
  --gray: #98989c;
  --accent-color-opacity: #fed00080;
  --dark-gray: #808088;
  --text-color: #2c2c30;
}

body {
  background-color: var(--bg-color);
}
