.page {
  padding: 2rem;

  max-width: 80rem;
  margin: 0 auto;
}

.heading {
  font-size: 2.5rem;
  color: var(--text-color);
  line-height: 1.2;
  font-weight: 500;
}

.caption {
  font-size: 1.2rem;
  color: var(--text-color);
  font-style: italic;
}

.list {
  list-style: none;
}

.listItem {
  padding: 1rem 0;
}

.listItem > a {
  font-size: 2rem;
  color: var(--accent-color);
}
