.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputs {
  display: grid;
  grid-template-columns: 1fr 8rem;
  gap: 0.5rem;
}

.input {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0;
}

.input:focus,
.button:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--accent-color-opacity);
}

.button {
  border-radius: 0.5rem;
  border: 0;
  background: var(--accent-color);
}
